<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd"> 
<properties>
    
    <!-- 사용자페이지 예약내역조회용  -->
	<entry key="selectBookList1">
	
			SELECT *
			  FROM (  
			    SELECT ROWNUM RNUM, A.*
			      FROM (
			            SELECT  BOOK_NO
						      , SPACE_NAME		      
						      , BOOK_DATE
						      , BOOK_IN
						      , BOOK_OUT
						      , BOOK_PRICE  
						      , BOOK_CATEGORY		      
						      , SPACE_PIC
						   FROM VW_BOOK
						  WHERE MEM_NO = ?
			           
		  
	</entry>
	
	<entry key="selectBookList2">
						 ) A
					 )     
			  WHERE RNUM BETWEEN ? AND ?	
	</entry>
	
	
	
	
	<!-- 페이징처리 listCount -->
	<entry key="selectBookListCount">
		 SELECT COUNT(*) AS "COUNT"
		   FROM VW_BOOK
		  WHERE MEM_NO = ?
	</entry>
	
	<!-- 예약상세내역 조회용 -->
	<entry key="selectBook">
		 SELECT BOOK_NO
		      , SPACE_NAME      
		      , MEM_ID      
		      , BOOK_COUNT
		      , BOOK_DATE
		      , BOOK_IN
		      , BOOK_OUT
		      , BOOK_PRICE
		      , BOOK_NAME
		      , BOOK_PHONE
		      , BOOK_EMAIL
		      , BOOK_PURPOSE
		      , BOOK_ADD_CONTENT
		      , BOOK_CAR
		      , BOOK_ANIMAL
		      , BOOK_CHAIR
		      , BOOK_STAND
		      , BOOK_CREATE_DATE          
		      , BOOK_CANCEL_REASON
		      , BOOK_CANSEL_CONTENT
		      , BOOK_CATEGORY
		      , PL_AMOUNT  
		      , BOOK_D_DAY 
		      , SPACE_LIMIT  
		   FROM VW_BOOK
		  WHERE BOOK_NO = ?
	</entry>
	
	<!-- 예약수정용 -->
	<entry key="updateBook">
		 UPDATE TB_BOOK
		    SET BOOK_COUNT = ?
		      , BOOK_NAME = ?
		      , BOOK_PHONE = ?
		      , BOOK_EMAIL = ?
		      , BOOK_PURPOSE = ?
		      , BOOK_ADD_CONTENT = ?
		      , BOOK_CAR = ?
		      , BOOK_ANIMAL = ?
		      , BOOK_CHAIR = ?
		      , BOOK_STAND = ?
		      , BOOK_MODIFY_DATE = SYSDATE
		  WHERE BOOK_NO = ?
	</entry>
	
	<!-- 예약삭제용 -->
	<entry key="deleteBook">
		 UPDATE TB_BOOK
		    SET BOOK_MODIFY_DATE = SYSDATE
		      , BOOK_STATUS = 'N'
		      , BOOK_CATEGORY = '예약취소'
		      , BOOK_CANCEL_REASON = ?
		      , BOOK_CANCEL_CONTENT = ?
		  WHERE BOOK_NO = ?
	</entry>
	
	<!-- 관리자페이지 예약리스트 -->
	<entry key="adminSelectBookList1">
		 SELECT *
		   FROM (  
			     SELECT ROWNUM RNUM, A.*
			       FROM (
			            	SELECT BOOK_NO
	                             , SPACE_NAME		      
                                 , MEM_ID
                                 , BOOK_COUNT
                                 , BOOK_DATE
                                 , BOOK_IN
                                 , BOOK_OUT
                                 , BOOK_PRICE  
                                 , BOOK_NAME
                                 , BOOK_PHONE
                                 , BOOK_EMAIL
                                 , BOOK_CAR
                                 , BOOK_ANIMAL
                                 , BOOK_CHAIR
                                 , BOOK_STAND  
	                          FROM VW_BOOK	  		  
  
	</entry>
	
	<entry key="adminSelectBookList2">
		
							 ) A
						 )     
		 WHERE RNUM BETWEEN ? AND ?	
	
	</entry>
	
	
	<!-- 관리자용 listCount -->
	<entry key="selectAdminBookListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM VW_BOOK
	</entry>
	
	<!-- 예약통계 이번달건수 -->
	<entry key="selectMonthCount">
		SELECT COUNT
		  FROM (
		        SELECT COUNT(*) AS "COUNT" , EXTRACT(MONTH FROM (TO_DATE(BOOK_DATE))) AS "MONTH" 
		          FROM TB_BOOK
		          WHERE BOOK_STATUS = 'Y'
		          GROUP
		            BY EXTRACT(MONTH FROM (TO_DATE(BOOK_DATE)))    
		        )
		 WHERE MONTH = EXTRACT(MONTH FROM SYSDATE)   
	
	</entry>
	
	<!-- 오늘 예약건수 -->
	<entry key="selectTodayCount">
		  SELECT NVL(COUNT(*), 0) AS "TODAY_COUNT"
		   FROM TB_BOOK
		  WHERE TO_CHAR(BOOK_CREATE_DATE, 'YY/MM/DD') = TO_CHAR(SYSDATE, 'YY/MM/DD')
		   AND BOOK_STATUS = 'Y'  
	</entry>
	
	<!-- 매월 예약건수 -->
	<entry key="selectMonthlyCount">
		SELECT COUNT(*) AS "COUNT" , EXTRACT(MONTH FROM (TO_DATE(BOOK_DATE))) || '월' AS "MONTH" 
		  FROM TB_BOOK
		 WHERE BOOK_STATUS = 'Y'
		 GROUP
		    BY EXTRACT(MONTH FROM (TO_DATE(BOOK_DATE)))
	</entry>
	
</properties>