<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT MEM_NO
			 , GR_NO
			 , MEM_ID
			 , MEM_PWD
			 , MEM_NAME
			 , MEM_IDNO
			 , MEM_PHONE
			 , MEM_MAIL
			 , MEM_PROFILE
			 , MEM_ENROLL_DATE
			 , MEM_MODIFY_DATE
			 , MEM_STATUS
			 , MEM_ADM_FLAG
		  FROM TB_MEMBER
		 WHERE MEM_STATUS = 'Y'
		   AND MEM_ID = ?
		   AND MEM_PWD = ?
	</entry>
	
	
	<entry key="idCheck">
		SELECT
			   COUNT(*) AS "COUNT"
		  FROM TB_MEMBER
		 WHERE MEM_ID = ?
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO TB_MEMBER
		      (MEM_NO
		     , GR_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , MEM_IDNO
		     , MEM_PHONE
		     , MEM_MAIL
		     , MEM_PROFILE
		     , MEM_ENROLL_DATE
		     , MEM_MODIFY_DATE
		     , MEM_STATUS
		     , MEM_ADM_FLAG)
		VALUES (
		       SEQ_MEMNO.NEXTVAL
		     , 1
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , null 
		     , sysdate
		     , sysdate
		     , 'Y'
		     , 'U'
     )
	</entry>
	
	<entry key="idSearch">
		SELECT MEM_ID
		  FROM TB_MEMBER
		 WHERE MEM_NAME = ?
           AND MEM_PHONE= ?
	</entry>
	
	<entry key="updateMember">
		UPDATE TB_MEMBER
		   SET MEM_NAME = ?
		     , MEM_MAIL = ?
		     , MEM_PHONE = ?
		     , MEM_MODIFY_DATE = SYSDATE
		 WHERE MEM_ID = ?
	</entry>
	
	<entry key="selectMember">
		SELECT 
			   MEM_NO
			 , GR_NO
			 , MEM_ID
			 , MEM_PWD
			 , MEM_NAME
			 , MEM_IDNO
			 , MEM_PHONE
			 , MEM_MAIL
			 , MEM_PROFILE
			 , MEM_ENROLL_DATE
			 , MEM_MODIFY_DATE
			 , MEM_STATUS
			 , MEM_ADM_FLAG
		  FROM TB_MEMBER
		 WHERE MEM_STATUS = 'Y'  
		   AND MEM_ID = ? 
	</entry>

	<!-- 회원정보의 비밀번호 변경 -->
	<entry key="updatePwdMember">
		UPDATE TB_MEMBER
		   SET MEM_PWD = ?
		     , MEM_MODIFY_DATE = SYSDATE
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?   
	</entry>
	
	<!-- 회원정보의 회원등급 조회 -->
	<entry key="selectGrade">
		SELECT GR_NAME
		  FROM TB_GRADE 
		  JOIN TB_MEMBER USING(GR_NO)
		 WHERE MEM_ID = ?
	</entry>
	
	<!-- 회원정보의 쿠폰장수 조회 -->
	<entry key="selectCouponCount">
		SELECT COUNT(*) 
		  FROM TB_MCP
		 WHERE MEM_NO = ?
	</entry>

	<!-- 내쿠폰 조회 -->
	<entry key="selectCouponList">
		SELECT CP_NAME
		     , CP_DISCOUNT
		     , MCP_USE
		     , MCP_END_DATE
		  FROM TB_COUPON
		  JOIN TB_MCP USING(CP_NO)
		 WHERE MEM_NO = ?
	</entry>

	<!-- 내쿠폰 페이지에서 회원의 쿠폰 등록 -->
	<entry key="insertMemCoupon">
		INSERT
      	  INTO TB_MCP
              (MCP_NO
	         , CP_NO
	         , MEM_NO
	         , MCP_END_DATE)
    	SELECT SEQ_MCNO.NEXTVAL
	         , CP_NO 
	         , ?
	         , CP_END_DATE 
      	  FROM (SELECT CP_NO, CP_END_DATE
     			  FROM TB_COUPON
    			 WHERE CP_NAME = ?)
	</entry>
	
	<!-- 회원 탈퇴 -->
	<entry key="updateMemberStatus">
		UPDATE TB_MEMBER
		   SET MEM_STATUS = 'N'
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
	</entry>

	<!-- 쿠폰존의 다운가능한 쿠폰 조회 -->
	<entry key="selectDownCoupon">
		SELECT 
			   CP_NO
		     , CP_NAME
		     , CP_DISCOUNT
		     , CP_END_DATE
  		  FROM TB_COUPON
 		 WHERE CP_END_DATE IS NOT NULL
 		   AND CP_DOWN = 'Y'
	</entry>
	
	<!-- 쿠폰존의 쿠폰 다운 받기 -->
	<entry key="insertDownCoupon">
		INSERT
      	  INTO TB_MCP
              (MCP_NO
	         , CP_NO
	         , MEM_NO
	         , MCP_END_DATE)
    	SELECT SEQ_MCNO.NEXTVAL
	         , CP_NO 
	         , ?
	         , ?
      	  FROM (SELECT CP_NO
     			  FROM TB_COUPON
    			 WHERE CP_NAME = ?)
	</entry>

	<!-- 프로필 변경 -->
	<entry key="updateProfile">
		UPDATE TB_MEMBER
		   SET MEM_PROFILE = ?
		 WHERE MEM_ID = ?
	</entry>
	
	<!-- 프로필사진 삭제 -->
	<entry key="deleteProfile">
		UPDATE TB_MEMBER
		   SET MEM_PROFILE = ''
		 WHERE MEM_ID = ?
	</entry>

	<entry key="insertCart">
		INSERT
		  INTO TB_CART
		  (
		    MEM_NO
		  , SPACE_NO
		  , CART_LIMIT
		  , CART_DATE
		  , CART_IN
		  , CART_OUT
		  , CART_PARKING
		  , CART_ANIMAL
		  , CART_STAND
		  , CART_CHAIR
		  , CART_PRICE
		  )
		  VALUES
		  (
		    ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<!-- 장바구니 전체삭제 -->
	<entry key="deleteCart">
		DELETE 
		  FROM TB_CART
		 WHERE MEM_NO = ?
	</entry>
	
	<!-- 장바구니 선택삭제 -->
	<entry key="deleteSelectedCart">
		 DELETE 
		   FROM TB_CART
		  WHERE MEM_NO = ?
            AND SPACE_NO = ?
	</entry>
	
	<!-- 장바구니 조회 -->
	<entry key="selectCartList">
		SELECT 
		       MEM_NO
		     , SPACE_NO
		     , CART_LIMIT
		     , CART_DATE
		     , CART_IN
		     , CART_OUT
		     , CART_PARKING
		     , CART_ANIMAL
		     , CART_STAND
		     , CART_CHAIR
		     , CART_PRICE
		     , SPACE_NAME
		     , SPACE_LIMIT
		     , SPACE_PIC
		  FROM TB_CART
		  JOIN TB_SPACE USING(SPACE_NO)
		 WHERE MEM_NO = ?
	</entry>
	
	<!-- 장바구니 옵션 변경 -->
	<entry key="updateCart">
		UPDATE TB_CART
		   SET CART_LIMIT = ?
		     , CART_PARKING = ?
		     , CART_ANIMAL = ?
		     , CART_STAND = ?
		     , CART_CHAIR = ?
		 WHERE MEM_NO = ?
		   AND SPACE_NO = ?
	</entry>
	
	<entry key="loveInsert">
		INSERT
		  INTO TB_LOVE
		  (
		    SPACE_NO
		  , MEM_NO
		  )
		  VALUES
		  (
		    ?
		  , ?
		  )
	</entry>
	
	<entry key="loveDelete">
		DELETE 
		  FROM TB_LOVE
		 WHERE SPACE_NO = ?
		   AND MEM_NO = ?
	</entry>
	
	<entry key="selectLove">
		SELECT
		       SPACE_NO
		     , MEM_NO
		  FROM TB_LOVE
		 WHERE MEM_NO = ?
	</entry>
	
	<entry key="loveCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM TB_LOVE
		 WHERE SPACE_NO = ?
		   AND MEM_NO = ?
	</entry>
	
	<entry key="selectLoveList">
		SELECT
		       SPACE_NO
		     , MEM_NO
		     , LOVE_DATE
		     , SPACE_NAME
		     , SPACE_LIMIT
		     , SPACE_PIC
		  FROM TB_LOVE L
		  JOIN TB_SPACE SP USING(SPACE_NO)
		 WHERE MEM_NO = ?
	</entry>
	
	<!-- 장바구니 옵션변경창 조회 -->
	<entry key="selectCartUpdateView">
		SELECT 
		       MEM_NO
		     , SPACE_NO
		     , CART_LIMIT
		     , CART_DATE
		     , CART_IN
		     , CART_OUT
		     , CART_PARKING
		     , CART_ANIMAL
		     , CART_STAND
		     , CART_CHAIR
		     , CART_PRICE
		     , SPACE_NAME
		     , SPACE_LIMIT
		     , SPACE_PIC
		  FROM TB_CART
		  JOIN TB_SPACE USING(SPACE_NO)
		 WHERE MEM_NO = ?
		   AND SPACE_NAME = ?
	</entry>

	<!-- admin -->
	<entry key = "todayMem">
		SELECT COUNT(*) AS "TODAY_MEM"
   			  FROM TB_MEMBER
  			 WHERE TO_CHAR(MEM_ENROLL_DATE,'yy/mm/dd') = (SELECT TO_CHAR(SYSDATE,'yy/mm/dd') FROM DUAL)
	</entry>
	
	
	<entry key="goldMem">
		SELECT COUNT(*) AS "GOLD"
              FROM TB_MEMBER
             WHERE GR_NO = 3
	</entry>
	
	
	<entry key="adminMemberManageListSelect">
		SELECT MEM_NO
		     , MEM_ID
		     , MEM_NAME
		     , MEM_IDNO 
		     , MEM_PHONE
		     , MEM_MAIL
		     , GR_NAME
		     , (
		        SELECT COUNT(*) AS "BOOK_COUNT"
		                       FROM TB_BOOK B1
		                      WHERE B1.MEM_NO = MEM.MEM_NO
		        )AS "BOOK_COUNT_ALL"
		     , (
		        SELECT COUNT(*) AS "BOOK_COUNT_MONTH"
		                       FROM TB_BOOK B2
		                      WHERE B2.MEM_NO = MEM.MEM_NO
		                        AND BOOK_DATE BETWEEN TO_DATE('2022.05.01', 'YYYY.MM.DD') 
		                                          AND TO_DATE('2022-07-28', 'YYYY.MM.DD')
		        )AS "BOOK_COUNT_MONTH"
		     , (
		            SELECT SUM(BOOK_PRICE)
		              FROM TB_BOOK B3
		              WHERE B3.MEM_NO = MEM.MEM_NO
		            )AS "BOOK_AMOUNT_ALL"
		     , (
		         SELECT SUM(BOOK_PRICE)
		           FROM TB_BOOK B4
		          WHERE B4.MEM_NO = MEM.MEM_NO
		            AND BOOK_DATE BETWEEN TO_DATE('2022.05.01', 'YYYY.MM.DD') 
		                              AND TO_DATE('2022-07-28', 'YYYY.MM.DD')
		        )AS "BOOK_AMOUNT_MONTH"
		     , (
		        SELECT COUNT(*) AS "RPT_COUNT"
		                       FROM TB_REPORT R
		                      WHERE R.MEM_NO = MEM.MEM_NO
		        ) AS "RPT_COUNT"
		     , (
		        SELECT COUNT(*) AS "LIKE_COUNT"
		                       FROM TB_LIKE L
		                      WHERE L.MEM_NO = MEM.MEM_NO
		        )AS "LIKE_COUNT"
		     , MEM_STATUS
		     , MEM_ADM_FLAG
		     , MEM_ENROLL_DATE
		     , MEM_MODIFY_DATE
		  FROM TB_MEMBER MEM
		  LEFT JOIN TB_GRADE USING (GR_NO)
	</entry>


	<entry key="adminMemberManageDetailListSelect">
		SELECT MEM_NO
		     , MEM_ID
		     , MEM_NAME
		     , MEM_IDNO 
		     , MEM_PHONE
		     , MEM_MAIL
		     , GR_NAME
		     , (
		        SELECT COUNT(*) AS "BOOK_COUNT"
		                       FROM TB_BOOK B1
		                      WHERE B1.MEM_NO = MEM.MEM_NO
		        )AS "BOOK_COUNT_ALL"
		     , (
		        SELECT COUNT(*) AS "BOOK_COUNT_MONTH"
		                       FROM TB_BOOK B2
		                      WHERE B2.MEM_NO = MEM.MEM_NO
		                        AND BOOK_DATE BETWEEN TO_DATE('2022.05.01', 'YYYY.MM.DD') 
		                                          AND TO_DATE('2022-07-28', 'YYYY.MM.DD')
		        )AS "BOOK_COUNT_MONTH"
		     , (
		            SELECT SUM(BOOK_PRICE)
		              FROM TB_BOOK B3
		              WHERE B3.MEM_NO = MEM.MEM_NO
		            )AS "BOOK_AMOUNT_ALL"
		     , (
		         SELECT SUM(BOOK_PRICE)
		           FROM TB_BOOK B4
		          WHERE B4.MEM_NO = MEM.MEM_NO
		            AND BOOK_DATE BETWEEN TO_DATE('2022.05.01', 'YYYY.MM.DD') 
		                              AND TO_DATE('2022-07-28', 'YYYY.MM.DD')
		        )AS "BOOK_AMOUNT_MONTH"
		     , (
		        SELECT COUNT(*) AS "RPT_COUNT"
		                       FROM TB_REPORT R
		                      WHERE R.MEM_NO = MEM.MEM_NO
		        ) AS "RPT_COUNT"
		     , (
		        SELECT COUNT(*) AS "LIKE_COUNT"
		                       FROM TB_LIKE L
		                      WHERE L.MEM_NO = MEM.MEM_NO
		        )AS "LIKE_COUNT"
		     , MEM_STATUS
		     , MEM_ADM_FLAG
		     , MEM_ENROLL_DATE
		     , MEM_MODIFY_DATE
		  FROM TB_MEMBER MEM
		  LEFT JOIN TB_GRADE USING (GR_NO)
		 WHERE MEM_NO = ?
	</entry>
	
	<!-- 관리자 쿠폰 조회 -->
	<entry key="selectAdminCouponList">
		SELECT CP_NO
		     , CP_NAME
		     , CP_DISCOUNT
		     , CP_ENROLL_DATE
		  FROM TB_COUPON
	</entry>
	
	<entry key="adminCheck">
		   UPDATE TB_MEMBER
      SET MEM_ADM_FLAG = 'A'
	</entry>
	
	<!-- 관리자 쿠폰 등록 -->
	<entry key="adminInsertCoupon">
		INSERT 
		  INTO TB_COUPON
		      (CP_NO
		     , CP_NAME
		     , CP_DISCOUNT
		     , CP_ENROLL_DATE
		     , CP_END_DATE
		     , CP_DOWN)
		VALUES(
		       SEQ_CPNO.NEXTVAL
		     , ?
		     , ?
		     , SYSDATE
		     , ?
		     , ?
		       )
	</entry>
	
	<!-- 관리자 그룹회원쿠폰 발급 -->
	<entry key="adminInsertGroupCoupon">
		INSERT
		  INTO TB_MCP
		      (MCP_NO
		     , CP_NO
		     , MEM_NO
		     , MCP_END_DATE)
		SELECT SEQ_MCNO.NEXTVAL
		     , ?
		     , MEM_NO
		     , ?
		  FROM (SELECT MEM_NO
				  FROM TB_MEMBER
                  WHERE GR_NO = ?)
	</entry>
	
	<!-- 관리자 개별회원쿠폰 발급 -->
	<entry key="adminInsertOneCoupon">
		INSERT
		  INTO TB_MCP
		      (MCP_NO
		     , CP_NO
		     , MEM_NO
		     , MCP_END_DATE)
		SELECT SEQ_MCNO.NEXTVAL
		     , ?
		     , MEM_NO
		     , ?
		  FROM (SELECT MEM_NO
				  FROM TB_MEMBER
                  WHERE MEM_ID = ?)
	</entry>
	
	<!-- 관리자 전체회원쿠폰 발급 -->
	<entry key="adminInsertAllCoupon">
		INSERT
		  INTO TB_MCP
		      (MCP_NO
		     , CP_NO
		     , MEM_NO
		     , MCP_END_DATE)
		SELECT 
               SEQ_MCNO.NEXTVAL
		     , ?
		     , MEM_NO
		     , ?
		  FROM (SELECT MEM_NO
				  FROM TB_MEMBER)
	</entry>
	
	
</properties>