<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT MEM_NO
			 , GR_NO
			 , MEM_ID
			 , MEM_PWD
			 , MEM_NAME
			 , MEM_IDNO
			 , MEM_PHONE
			 , MEM_MAIL
			 , MEM_PROFILE
			 , MEM_ENROLL_DATE
			 , MEM_MODIFY_DATE
			 , MEM_STATUS
			 , MEM_ADM_FLAG
		  FROM TB_MEMBER
		 WHERE MEM_STATUS = 'Y'
		   AND MEM_ID = ?
		   AND MEM_PWD = ?
	</entry>
	
	
	<entry key="idCheck">
		SELECT
			   COUNT(*) AS "COUNT"
		  FROM TB_MEMBER
		 WHERE MEM_ID = ?
	</entry>

</properties>