<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 댓글 신고 -->
	<entry key="reportCommentReview">
		INSERT
		  INTO TB_REPORT
		    (
		       RPT_NO
		     , MEM_NO
		     , RPT_MEM_NO
		     , RPT_REASON_NO
		     , RPT_REF_CAT
		     , RPT_REF_NO
		     , RPT_DATE
		    )
		VALUES
		    (
		       SEQ_RPTNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , 2  
		     , ?
		     , SYSDATE
		    )
	</entry>
	
	<entry key="selectCmExist">
		SELECT  COUNT(*)
	      FROM TB_REPORT
	 	 WHERE MEM_NO = ?
		   AND RPT_REF_NO = ?
		   AND RPT_REF_CAT =2
	</entry>
	
	<entry key="adminSelectList1">
		SELECT R.RPT_REF_NO, R.RPT_REF_CAT, M.MEM_ID AS "RPT_MEM_ID"
		      , DECODE (R.RPT_REF_CAT, 1, '후기', 2, '댓글') AS "CATEGORY"
		      , COUNT(*) AS "COUNT"
		      , NVL(RE.RV_STATUS, 'X') AS "RV_STATUS"
      		  , NVL(CO.COM_STATUS, 'X') AS "COM_STATUS"
		  FROM TB_REPORT R
		  JOIN TB_MEMBER M ON (R.RPT_MEM_NO = M.MEM_NO)
		  LEFT JOIN TB_REVIEW RE ON (R.RPT_REF_CAT = 1 AND R.RPT_REF_NO = RE.RV_NO)
		  LEFT JOIN TB_COMMENT CO ON (R.RPT_REF_CAT = 2 AND R.RPT_REF_NO = CO.COM_NO)
	</entry>
	
	<entry key="adminSelectList2">
		 GROUP 
	    	BY R.RPT_REF_NO, R.RPT_REF_CAT, M.MEM_ID, RE.RV_STATUS, CO.COM_STATUS
	
	</entry>
	
	<!-- 오늘 후기신고 건수 -->
	<entry key="todayRvCount">
		 SELECT NVL(COUNT(*), 0) AS "TODAY_REVIEW_COUNT"
		   FROM TB_REPORT
		  WHERE TO_CHAR(RPT_DATE, 'YY/MM/DD') = TO_CHAR(SYSDATE, 'YY/MM/DD')
		    AND RPT_REF_CAT = '1'
	</entry>
	
	<!-- 총 후기신고건수 -->
	<entry key="totalRvCount">
		 SELECT NVL(COUNT(*), 0) AS "TOTAL_REVIEW_COUNT"
		   FROM TB_REPORT
		  WHERE  RPT_REF_CAT = '1'
	</entry>
	
	<!-- 오늘 댓글신고 건수 -->
	<entry key="todayCmCount">
		 SELECT NVL(COUNT(*), 0) AS "TODAY_COMMENT_COUNT"
		   FROM TB_REPORT
		  WHERE TO_CHAR(RPT_DATE, 'YY/MM/DD') = TO_CHAR(SYSDATE, 'YY/MM/DD')
		    AND RPT_REF_CAT = '2'
	</entry>
	
	<!-- 총 댓글 신고건수 -->
	<entry key="totalCmCount">
		 SELECT NVL(COUNT(*), 0) AS "TOTAL_COMMECT_COUNT"
		   FROM TB_REPORT
		  WHERE RPT_REF_CAT = '2'
	</entry>
	
	<!-- 가장 많은 신고를 당한 작성자(유효한 글상태) -->
	<entry key="maxMemId">
		SELECT MEM_ID
			  FROM (  
			    SELECT ROWNUM RNUM, A.*
			      FROM (
			            SELECT M.MEM_ID AS "MEM_ID"		    
                              , COUNT(*) AS "COUNT"		    
                          FROM TB_REPORT R
                          JOIN TB_MEMBER M ON (R.RPT_MEM_NO = M.MEM_NO)
                          LEFT JOIN TB_REVIEW RE ON (R.RPT_REF_CAT = 1 AND R.RPT_REF_NO = RE.RV_NO)
                          LEFT JOIN TB_COMMENT CO ON (R.RPT_REF_CAT = 2 AND R.RPT_REF_NO = CO.COM_NO)
                          WHERE RV_STATUS = 'Y' OR COM_STATUS = 'Y'
                          GROUP 
                            BY R.RPT_REF_NO, R.RPT_REF_CAT, M.MEM_ID, RE.RV_STATUS, CO.COM_STATUS
                         HAVING COUNT(*) >= 1 
                         ORDER BY COUNT DESC
                          ) A
					 )     
			  WHERE RNUM = 1	
	</entry>
	
	<entry key="selectRvContent">
		SELECT RV_CONTENT
		  FROM TB_REVIEW
		 WHERE RV_NO = ?
	
	</entry>
	
	<entry key="selectCmContent">
		 SELECT COM_CONTENT
		   FROM TB_COMMENT
		  WHERE COM_NO = ?
	</entry>

	<entry key="updateRvStatus">
		UPDATE TB_REVIEW
		   SET RV_STATUS = 'N'
		 WHERE RV_NO = ?
	
	</entry>
	
	<entry key="updateCmStatus">
		 UPDATE TB_COMMENT
		    SET COM_STATUS = 'N'
		  WHERE COM_NO = ?  	
	</entry>
	
	<entry key="blackListUpdate">
		UPDATE TB_MEMBER
	       SET MEM_STATUS = 'B'
	     WHERE MEM_ID = ?
		
	</entry>

</properties>