<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd"> 
<properties>
	
	<!-- 리뷰등록1_1 필요한 공간번호 조회 -->
	<entry key="selectSpaceNo">
		SELECT SPACE_NO
		  FROM TB_SPACE
		 WHERE SPACE_NAME = ?
	</entry>
	
	<!-- 리뷰등록1_2 TB_REVIEW INSERT -->
	<entry key="insertReview">
	   INSERT
		 INTO TB_REVIEW
		    (
		      RV_NO
		    , BOOK_NO
		    , SPACE_NO
		    , MEM_NO
		    , RV_CONTENT  
		    , RV_STAR
		    )
		 VALUES
		    (
		       SEQ_RVNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?   
		     , ? 
		     )
	</entry>
	
	<!-- 리뷰등록1_3 TB_FILE INSERT -->
	<entry key="insertAttachmentList">
		INSERT
		  INTO TB_FILE
		    (
		       FILE_NO
		     , REF_BNO
		     , FILE_CATEGORY
		     , FILE_ORIGIN_NAME
		     , FILE_CHANGE_NAME
		     , FILE_UPLOAD_DATE
		     , FILE_PATH
		     , FILE_LEVEL
		    )
		 VALUES
		    (
		       SEQ_FINO.NEXTVAL
		     , SEQ_RVNO.CURRVAL
		     , 2
		     , ?
		     , ?
		     , SYSDATE
		     , ?
		     , ?
		    )
	</entry>

	<!-- 리뷰등록 1_4 해당 예약번호로 회원이 리뷰 했는지 조회 여부 -->
	<entry key="selectReviewValid">
		 SELECT NVL2(MAX(RV_NO), 'Y', 'N') AS "REVIEW_VALID"
	       FROM TB_REVIEW
	      WHERE BOOK_NO  = ? 
	        AND RV_STATUS = 'Y' 
	        AND MEM_NO = ? 
	</entry>
	
	<!-- 전체후기조회용 -->
	<entry key="selectReviewList">
		 SELECT *
			  FROM (  
			    SELECT ROWNUM RNUM, A.*
			      FROM (
			            SELECT RV_NO
                             , SPACE_NAME
                             , BOOK_DATE     
                             , RV_CONTENT     
                             , RV_STAR 
                             , FILE_PATH || FILE_CHANGE_NAME AS "REVIEW_MAINIMG"
                          FROM TB_REVIEW R
                          JOIN TB_BOOK USING (BOOK_NO)
                          JOIN TB_SPACE S ON (R.SPACE_NO = S.SPACE_NO)
                          JOIN TB_FILE ON (REF_BNO = RV_NO)
                         WHERE R.MEM_NO = ?
                           AND RV_STATUS = 'Y'
                           AND FILE_CATEGORY = 2
                           AND FILE_LEVEL = 1
                           AND FILE_STATUS = 'Y'
                         ORDER 
                            BY RV_NO ASC
			            ) A
			         )     
   			WHERE RNUM BETWEEN ? AND ?
	</entry>

	<!-- detailReview - review -->
	<entry key="selectReview">
		SELECT RV_NO
	         , BOOK_NO
	         , SPACE_NO
	         , MEM_NO
	         , RV_CONTENT        
	         , RV_STAR       
	      FROM TB_REVIEW
	     WHERE RV_NO = ?
	</entry>
	
	<!-- detailReview - Attachment -->
	<entry key="selectAttachmentList">
		 SELECT FILE_NO
	          , FILE_ORIGIN_NAME
	          , FILE_CHANGE_NAME
	          , FILE_PATH	          
	          , FILE_LEVEL    
	      FROM TB_FILE
	     WHERE REF_BNO = ?
	       AND FILE_CATEGORY = 2
	       AND FILE_STATUS = 'Y'
	     ORDER 
	        BY FILE_LEVEL ASC
	</entry>
	
	<!-- 후기수정 1. 리뷰 -->
	<entry key="updateReview">
		UPDATE TB_REVIEW
		   SET RV_CONTENT = ?
		     , RV_STAR = ?
		     , RV_MODIFY_DATE = SYSDATE
		 WHERE RV_NO = ? 
	</entry>
	
	<!-- 기존파일 삭제 -->
	<entry key="deleteAttachment">
		UPDATE TB_FILE
		   SET FILE_STATUS = 'N'
		 WHERE REF_BNO = ?
	</entry>
	
	<!-- 후기수정3. 새로운파일업로드  -->
	<entry key="insertAttachmentList2">		
		INSERT
		  INTO TB_FILE
		    (
		       FILE_NO
		     , REF_BNO
		     , FILE_CATEGORY
		     , FILE_ORIGIN_NAME
		     , FILE_CHANGE_NAME
		     , FILE_UPLOAD_DATE
		     , FILE_PATH
		     , FILE_LEVEL
		    )
		 VALUES
		    (
		       SEQ_FINO.NEXTVAL
		     , ?
		     , 2
		     , ?
		     , ?
		     , SYSDATE
		     , ?
		     , ?
		    )	
	</entry>
	
	<!-- 후기삭제 -->
	<entry key="deleteReivewReal">
		UPDATE TB_REVIEW
		   SET RV_STATUS = 'N'
		WHERE RV_NO = ? 
	</entry>
	
	<!--  리뷰리스트 페이징처리 -LIST COUNT -->
	<entry key="selectListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM TB_REVIEW
		 WHERE RV_STATUS = 'Y'
		   AND MEM_NO = ?
	</entry>

	
	
	
	
	<!-- 이 부분부터 ADMIN 쪽 SQL 소희작성 -->
	<entry key="adminReviewSelect">
		SELECT 
		       RV_NO
		     , MEM_ID
		     , SPACE_NAME
		     , RV_STAR
		     , BOOK_DATE
		     , (
		       SELECT COUNT(*) AS "LIKE_COUNT"
		         FROM TB_LIKE L
		        WHERE R.RV_NO = L.RV_NO
		        )  AS "ALL_LIKE_COUNT"
		    ,  (
		        SELECT COUNT(*) AS "RPT_COUNT"
		         FROM TB_REPORT RPT
		        WHERE R.RV_NO = RPT.RPT_REF_NO
		          AND RPT_REF_CAT = 1
		        )  AS "ALL_RPT_COUNT"
		     , RV_STATUS
		     , RV_ENROLL_DATE
		  FROM TB_REVIEW R
		  JOIN TB_MEMBER USING (MEM_NO)
		  JOIN TB_SPACE USING (SPACE_NO)
		  JOIN TB_BOOK USING (BOOK_NO)
	</entry>
	
	<entry key="adminSelectEachReview">
		SELECT
		       RV_NO
		     , BOOK_NO
		     , SPACE_NAME
		     , MEM_ID
		     , RV_STAR
		     , RV_CONTENT
		     , RV_ENROLL_DATE
		     , RV_MODIFY_DATE
		     , BOOK_DATE
		     , GR_NO
		     , (
		       SELECT COUNT(*) AS "LIKE_COUNT"
		         FROM TB_LIKE L
		        WHERE R.RV_NO = L.RV_NO
		        )  AS "ALL_LIKE_COUNT"
		     ,  (
		        SELECT COUNT(*) AS "RPT_COUNT"
		         FROM TB_REPORT RPT
		        WHERE R.RV_NO = RPT.RPT_REF_NO
		          AND RPT_REF_CAT = 1
		        )  AS "ALL_RPT_COUNT"
		     , RV_STATUS
		  FROM TB_REVIEW R
		  JOIN TB_MEMBER USING (MEM_NO)
		  JOIN TB_SPACE USING (SPACE_NO)
		  JOIN TB_BOOK USING (BOOK_NO)
		 WHERE RV_NO=?
	</entry>
	
	<entry key="todayRvCount">
     		SELECT COUNT(*) AS "todayRvCount"
   			  FROM TB_REVIEW
  			 WHERE TO_CHAR(RV_ENROLL_DATE,'yy/mm/dd') = (SELECT TO_CHAR(SYSDATE,'yy/mm/dd') FROM DUAL)    
	</entry>



	<!-- 이 부분부터 공간별 후기리스트 관련 SQL 작성. 소희작성  --> 
	
	<entry key="selectRvListForSpace">
		SELECT RV_NO
		     , BOOK_NO
		     , SPACE_NAME
		     , MEM_ID
		     , RV_CONTENT
		     , RV_ENROLL_DATE
		     , RV_MODIFY_DATE
		     , RV_STAR
		     , RV_STATUS
		     , GR_NAME
             , (
             SELECT COUNT(*) AS "ALL_LIKE_COUNT"
             FROM TB_LIKE L
            WHERE L.RV_NO = R.RV_NO
             )  AS "ALL_LIKE_COUNT"
             , MEM_NO
		  FROM TB_REVIEW R
		  JOIN TB_MEMBER USING (MEM_NO)
		  JOIN TB_GRADE USING (GR_NO)
		  JOIN TB_SPACE USING (SPACE_NO)
         WHERE RV_STATUS = 'Y'
           AND SPACE_NO =?
	</entry>
	
	
	<!-- 공간별 평균 별점 올림으로 구하기ㅇ -->
	<entry key="avgStars">
		SELECT CEIL(AVG(RV_STAR)) AS "AVG_STAR"
		  FROM TB_REVIEW
		 WHERE SPACE_NO = ?
	</entry>
	
	<entry key="avgRoundOne">
		  SELECT ROUND(AVG(RV_STAR), 2) AS "avgRoundOne" FROM TB_REVIEW
	</entry>
	
	
	<!-- 후기 신고 등록 -->
	<entry key="reportReview">
	INSERT
	  INTO TB_REPORT
	    (
	       RPT_NO
	     , MEM_NO
	     , RPT_MEM_NO
	     , RPT_REASON_NO
	     , RPT_REF_CAT
	     , RPT_REF_NO
	     , RPT_DATE
	    )
	VALUES
	    (
	       SEQ_RPTNO.NEXTVAL
	     , ?
	     , ?
	     , ?
	     , 1  <!-- 리뷰면 1 댓글이면 2 -->
	     , ?
	     , SYSDATE
	    )
	</entry>
	
	

</properties>