<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
    	SELECT 
		       SPACE_NO
		     , SPACE_NAME
		     , SPACE_LIMIT
		     , SPACE_CATEGORY
		     , SPACE_PIC
		     , SPACE_EN_DATE
		     , SPACE_PRICE
		  FROM TB_SPACE
		 WHERE SPACE_STATUS = 'Y'
		 ORDER
			BY SPACE_NO DESC
	</entry>


	<entry key="selectTopList">
		SELECT 
			   예약순위
			 , SPACE_NO
			 , SPACE_NAME
			 , SPACE_LIMIT
			 , SPACE_CATEGORY
			 , SPACE_PIC
			 , SPACE_PRICE
		  FROM (
		        SELECT 
		               ROW_NUMBER() OVER(ORDER BY COUNT(B.SPACE_NO) DESC) 예약순위
		             , S.SPACE_NO
		             , SPACE_NAME
		             , SPACE_LIMIT
		             , SPACE_CATEGORY
		             , SPACE_PIC
		             , SPACE_PRICE
		          FROM TB_SPACE S
		          JOIN TB_BOOK B ON(S.SPACE_NO = B.SPACE_NO)
		         WHERE SPACE_STATUS = 'Y' 
		         GROUP
		            BY B.SPACE_NO, S.SPACE_NO, SPACE_NAME, SPACE_LIMIT, SPACE_CATEGORY, SPACE_PIC, SPACE_PRICE
		         ORDER
		            BY 1 ASC
		       )예약뷰
		 WHERE 예약순위 &lt;= 3
	</entry>
	
	<entry key="spaceDetailView">
		SELECT 
		       SPACE_NO
		     , SPACE_NAME
		     , SPACE_LIMIT
		     , SPACE_INFO
		     , SPACE_CATEGORY
		     , SPACE_PIC
		     , SPACE_EN_DATE
		     , SPACE_PRICE
		  FROM TB_SPACE
		 WHERE SPACE_NO = ?
	</entry>
	
	<!-- admin -->
	
	<entry key="selectAdminList">
		SELECT *
		  FROM(
		        SELECT ROWNUM RNUM, S.*
		          FROM(
		          		SELECT 
						       SPACE_NO
						     , SPACE_NAME
						     , SPACE_LIMIT
						     , SPACE_CATEGORY
						     , SPACE_PIC
						     , SPACE_EN_DATE
						     , SPACE_PRICE
						  FROM TB_SPACE
						 WHERE SPACE_STATUS = 'Y'
						 ORDER
							BY SPACE_NO DESC
		            ) S
		    )
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="insertSpace">
		INSERT
		  INTO TB_SPACE
		  (
		    SPACE_NO
		  , SPACE_NAME
		  , SPACE_LIMIT
		  , SPACE_INFO
		  , SPACE_CATEGORY
		  , SPACE_PIC
		  , SPACE_PRICE
		  )
		  VALUES
		  (
		    SEQ_SPNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertAttach">
		INSERT
		  INTO TB_FILE
		  (
		    FILE_NO
		  , REF_BNO
		  , FILE_CATEGORY
		  , FILE_ORIGIN_NAME
		  , FILE_CHANGE_NAME
		  , FILE_PATH
		  , FILE_UPLOAD_DATE
		  )
		  VALUES
		  (
		    SEQ_FINO.NEXTVAL
		  , SEQ_SPNO.CURRVAL
		  , 1
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	<entry key="selectAttach">
		SELECT 
		       FILE_NO
		     , REF_BNO
		     , FILE_ORIGIN_NAME
		     , FILE_CHANGE_NAME
		     , FILE_PATH
		  FROM TB_FILE
		 WHERE FILE_CATEGORY = 1
		   AND REF_BNO = ?
		   AND FILE_STATUS = 'Y'
	</entry>
	
	<entry key="updateSpace">
		UPDATE TB_SPACE
		   SET SPACE_NAME = ?
		     , SPACE_LIMIT = ?
		     , SPACE_INFO = ?
		     , SPACE_CATEGORY = ?
		     , SPACE_PIC = ?
		     , SPACE_PRICE = ?
		 WHERE SPACE_NO = ?
	</entry>
	
	<entry key="deleteSpace">
		UPDATE TB_SPACE 
		   SET SPACE_STATUS = 'N'
		 WHERE SPACE_NO = ?
	</entry>
	
	<entry key="updateFile">
		UPDATE TB_FILE
		   SET FILE_ORIGIN_NAME = ?
		     , FILE_CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?
	</entry>
	
	<entry key="insertNewFile">
		INSERT 
		  INTO TB_FILE
		  (
		    FILE_NO
		  , REF_BNO
		  , FILE_CATEGORY
		  , FILE_ORIGIN_NAME
		  , FILE_CHANGE_NAME
		  , FILE_PATH
		  , FILE_UPLOAD_DATE
		  )
		  VALUES
		  (
		    SEQ_FINO.NEXTVAL
		  , ?
		  , 1
		  , ?
		  , ?
		  , ?
		  , SYSDATE
  		  )
	</entry>
	
	<!-- 캘린더 예약 조회용 -->
	<entry key="selectCalBook">
		SELECT
		       BOOK_NO
		     , BOOK_DATE
		     , BOOK_IN
		     , BOOK_OUT
		  FROM TB_BOOK
		 WHERE BOOK_STATUS = 'Y'
		   AND SPACE_NO = ?
		   AND BOOK_DATE = ?
	</entry>
	

</properties>