@charset "UTF-8";


/*--------------------------------------------------------------
	파랑그림자 바디 설정
--------------------------------------------------------------*/

body{
	color:  #0D6EFD;
   }

.blueShadow {
	margin: auto;
	align-items: center;
	box-shadow : 0px 0px 12px rgb(13, 109, 253, 0.4);
	border-radius: 15px;
	width: 60%;
}

.forPadding{
	padding : 70px;
	margin: auto;
    align-items: center;
}

.forPaddind * {
	width: 80%;
}

.h4forLgnNSign {
	font-weight: 600;
	font-size: 20px;
	color:  #0D6EFD;
}



/*--------------------------------------------------------------
	input 입력부분
--------------------------------------------------------------*/

.inputs {
    text-align: left;
    margin-top: 10px;
}

.inputs label{
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    color :  #0D6EFD;
}

.inputs input{
 	 margin-top: -1px;
     margin-bottom: -7px;
     border : 1.5px solid #0D6EFD;
     border-radius: 5px;
     margin: 5px;
     height: 40px;
     font-size: 13px;
     color:  #0D6EFD;
}
 


.inputs span{
    font-size: 8px;
    font-weight: 400;
    margin-left: 5px;
    color:  #0D6EFD;
}



.inputs hr{
    color:  #0D6EFD;
}

.smsNoCheck:focus{
    border: 1px solid red;
}

 .already {
     font-size: 11px;
     color: #0D6EFD;
 }

/*--------------------------------------------------------------
	로그인
--------------------------------------------------------------*/


.login-input{
    border : 1.5px solid #0D6EFD;
    border-radius: 5px;
    margin: 5px;
    width: 80%;
    font-size: 15px;
    color:  #0D6EFD;
}
   
.signInBtn , .basicLogin {
    margin: 5px;
    width: 80%;
}

.always-login{
    font-size: 12px;
    color: black;
}
   
.find{
    text-decoration: none;
    font-size: 15px;
}
   
.easy-login button{
    width: 80%;
    margin: 5px;
    border-radius: 5px;
}

.easy-login span {
    font-weight: 600;
    font-size: 16px;
}

.goggle-login.btn{
    background-color: white;
    border: 1px solid #0D6EFD;
    color: #0D6EFD;
}

.goggle-login:hover{
    background-color: #E7F1FF;
    font-weight: 500;
    color: #0D6EFD;
}

.kakao-login.btn{
    background-color: rgb(255, 226, 6);
    border: 1px solid rgb(255, 226, 6);
    color: black;
}

.kakao-login:hover{
    background-color: rgb(213, 188, 0);
    border: 1px solid rgb(255, 226, 6);
    color: black;
}

.sign-in span {
    font-size: 13px;
    
}
      
  
.find:hover{
	color: #0D6EFD;
}

 
    
 /*--------------------------------------------------------------
	signInOne
}
--------------------------------------------------------------*/     
     

.agreement{
     font-size: 13px;
     color:  #0D6EFD;
     width : 100%;
}

.agreement *{
	 width : 100%;
}
.phoneAgreement{
	 font-size: 13px;
     color:  #0D6EFD;
}

.agreeInput input{
	display:inline;
	width:20px;
}
.agreeBox {
	 width : 100%;
     height:80px;
     overflow:auto;  
     border:1px solid #0D6EFD;
     padding: 0 0.5em;
     border-radius: 10px;
     display : none;
     font-size: 10px;
     color:  black;
}
     

 .phone .box{
     height:60px;
     background-color: #EEEEEE;
     border-radius: 10px;
     font-size: 13px;
}

.picon{
     font-size: 13px;
}

.picon-span {
	color : grey;
}

.material-icons{
     margin-top: 5px;
     color : grey;
}
.signInForm * {
	 margin-top: 5px;
     width : 100%;
}

.confirmBtn, .nextBtn {
     margin: 5px;
     margin-top: -4px;
     width : 100%;
}


 .getIdNoBtn {
     margin: 5px;
     margin-top: 10px;
     margin-bottom:10px;
 }
 
 
 
 
 /*--------------------------------------------------------------
	signInTwo
}
--------------------------------------------------------------*/      
 
 
 
.signInForm {
	 margin-top: 5px;
     width : 100%;
}


.addMessege{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	align-items:center;
	margin:0;
	justify-content:center;
	color:  #0D6EFD;
}


 /*--------------------------------------------------------------
	signInThree
}
--------------------------------------------------------------*/      
 .welcomeSpan{
    font-size: 15px;
    font-weight: 600;
    color:  #0D6EFD;
}

.material-icons.giftCard{
    font-size: 60px;
    color:  #0D6EFD;
}





 /*--------------------------------------------------------------
	idSearch
}
--------------------------------------------------------------*/   

.find{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-size: 20px;
}

.find:hover{
    color:#0D6EFD;
    font-weight: 600;
}


 /*--------------------------------------------------------------
	idSearchResult
}
--------------------------------------------------------------*/   

#idMessage{
    font-size: 15px;
}

#userId{
    color:#0D6EFD;
    font-weight: 600;
    font-size: 20px;
}


/*--------------------------------------------------------------
	myCoupon
}
--------------------------------------------------------------*/   

#cp-div-card1 span{
    font-size: 24px;
    
 }
 
 #cp-div-card1{
 	box-shadow: 2px 2px 10px 0px #0D6EFD;
 }

 #cp-input1{
     width:30px;
     border-color:lightgray;
 }

 #cpCodeDiv{
   width:600px;
   margin-left:100px;
 }

 #cpZone span{
    font-size:30px;
	font-weight: 600;

 }
 
 #cpZoneCard{
 	width:300px;
 	height:290px;
 	margin:10px;
 }
 
 #cpTable th, td{
	color:dimgray;
	font-size:15px;
 }

 
 /*--------------------------------------------------------------
	memUpdatePwd
}
--------------------------------------------------------------*/


.pwdChangeDiv{
     width:400px;
     height:300px;
     position:absolute;
     top:50%;
     left:50%;
     margin:-150px 0px 0px -200px;
}
    
.pwdChangeDiv input{
	 border-color:lightgray;
}

.pwdChangeDiv label{
     font-weight: 550;
}
    
.pwdChangeCard {
     width:550px;
     height:480px;
     border-radius: 30px;
     box-shadow: 2px 2px 10px 0px #0D6EFD;
     position:absolute;
     top:43%;
     left:43%;
     margin:30px 0px 0px -140px;
}

 /*--------------------------------------------------------------
	memberUpdateView
}
--------------------------------------------------------------*/

.div-member-size{
  width:450px;
}

.memUpdateCard{
	box-shadow: 2px 2px 10px 0px #0D6EFD;
	width:700px; 
	height:800px;
}

.memUpdateCard input{
	border-color:lightgray;
}

#div-memberModify label{
  font-weight: 650;
      
}

#mem-input-phone{
  width:300px;

}

#memProfileModal:hover{
	cursor:pointer;
}

 /*--------------------------------------------------------------
	cartListView
}
--------------------------------------------------------------*/

#div-mem-cart button{
	border-radius: 20px;
	width:140px
}

#cart-radio1, #cart-radio2{
	margin-left:85px
}

#cart-div-span span{
	font-size:26px;
	font-weight: 600;
}

#optSelect{
	font-family:inherit; 
	width:300px; 
	height:35px;
}

#cartModalLabel{
	margin-left:188px; 
	font-weight:550; 
	font-size:22px;
}

.cartOptionDiv{
	width:415px;
	height:55px;
	background:#EEEEEE;
	text-align:center;
	margin-bottom:10px;
}

.cartOptionCount>div{
	width:20px;
	height:20px;
	background:white;
	font-size:15px;
	text-align:center;
} 

.cartOptionTable{
	border-spacing: 0px;
	border-collapse: separate;
	width:415px; 
	height:55px;
}

.cart-option-p{
	font-weight:550; 
	font-size:16px; 
	margin-bottom:13px;
}