@charset "UTF-8";

/* ------------ spaceDetailView.jsp --------------- */
/* main *{
    border:1px solid black;
} */
/* 사진 */
.swiper-wrapper img{
    height:auto;
    max-width:100%;
    object-fit: scale-down;
}
.swiper-wrapper{
    text-align:center;
    line-height:574px;
}

/* minisub */
#miniSub{
    font-size:40px;
    font-weight:600;
    margin-top:100px;
    color:#0D6EFD;
}
.nav-item a{
    font-size:25px;
    font-weight:250;
    text-align:center;
}

/* minisubContent */
#pills-eyoung li, #pills-sisul li{
  margin-top:30px;
  border-bottom:1px solid blue;
}

#pills-eyoung ol, #pills-sisul ol{
  margin-top:50px;
}



/* 선택 */
select{

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    color: #444;
    background-color: #fff;

    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

span.col-sm-4{
    font-size:20px;
    font-weight:400;
    margin-top:10px;
}

/* 버튼 */
#ayBtn>button{
    margin:0 20px 0 20px;
}


/* 리뷰 */
#minisubSmall{
  font-size: 16px;
  color: #aaa;
  float: right;
  margin-top:30px;
}
.stars{
  display: flex;
  justify-content: center;
  align-items: center;
}

.introRv h4{
  display: flex;
  justify-content: center;
  align-items: center;
}

#starYellow{        
  color:rgba(250, 208, 0, 0.99);    
  
}
#starWhite{            
  color: rgb(197, 197, 194);
}

.stars{
  font-size: 4em;  
}

.smallStars{
  font-size: 2em;  
}

.rvPhotoZone {
  display: flex;
  justify-content: center;
  align-items: center
}

#rvOrderBy{
  width: 100%;
  height: 100px;
  background-color: #0D6EFD;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 40px;
  margin-bottom: 40px;
}

#rvOrderBy a:hover {
  font-weight: 600;
  cursor: pointer;
}

.eachRvList{
  margin-bottom: 40px;
}

#commentSpan{
  float: right;
  margin-top: -35px;
  color: #0D6EFD;
}

#showCom{
  text-decoration : none;
  margin-bottom: 10px;
  cursor: pointer;
}


#countLike{
  color: #0D6EFD;
  font-weight: 600;
}

#rvContentDiv{
  border:none;
  width : 100%;
  font-size: 12px;
}

#commentArea{
  border:none;
  width : 100%;
  font-size: 12px;
}

.mem{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEE;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

#titleImgSpan{
  font-size: 13px;
  color: #aaa;
}

#login-btn{
  box-shadow : 0px 0px 5px rgb(13, 109, 253, 0.1);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: -100px;
}

#showCom{
  background-color: white;
  color: #0D6EFD;
  border:none;
  font-size: 13px;
  width : 100px;
  height : 10px;
}

/* ------------ 댓글부분 --------------- */

#dateSpan{
	font-size : 12px;
}
.parentMem * {
  float:left;
}

.parentInfo * {
  float:right;
}

.sonMem * {
  float:left;
}

.sonInfo * {
  float:right;
}

.parentCommentAll{
  margin-bottom: 30px;
}

.sonCommentAll{
  margin-bottom: 30px;
  float:right;
}

#reComment{
  color: #0D6EFD;
}

#reReport{
  color : red;
}

#reDelete{
	color : #FEE500;
}

.comBtn{
	border : none;
	background-color : white;
	width : 80px;
	font-size : 12px;
}
.blank{

  
}

#writeComment{
  margin-top: 70px;
  margin-bottom: 140px;
  width: 100%;
}

#justText{
  width: 100px;
  color: #0D6EFD;
}

#writeTable textarea{
  width: 520px;
  height: 100px;
  border: 2px solid #0D6EFD;
  border-radius: 10px;
}

#writeTable button{
  width: 100px;
  height: 100px;
  margin-bottom: 6px;
  border-radius: 10px;
}
/*--------------------모달--------------------------*/
.modal-header{
	background-color:#0082FF;
}

.modal-header h4 {
	font-weight:600;
	color:white;
	
}

.modal-body h5{
	display: flex;
    justify-content: center;
    align-items: center;
    color:#0082FF;
}

.modal-body div{
	display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body div button{
	margin : 10px;
}





/* ------------ END spaceDetailView.jsp --------------- */

/* ------------ spaceListView.jsp --------------- */
.img-a.img-fluid{
    height:545px;
    width:450px;
  }
  .intro-single{
    margin-top:-150px;
  }
  .title-single-box{
    margin-top:-100px;
  }
  .intro-single.intro-single2{
    margin-top:0px;
    margin-bottom:-50px;
  }
  .qw-btn:hover{
    background-color:#0D6EFD;
  }
  .block2-txt-child1.flex-col-l a{
    text-decoration:none;
  }
  .block2-txt-child1.flex-col-l a:hover{
    color:#0D6EFD;
  }
  .block2-pic.hov-img0 img{
    width:307px;
    height:380px;
  }
  .flex-w.flex-sb-m.p-b-52{
    padding-bottom:10px;
  }
  
  /* ------------ END spaceListView.jsp --------------- */