@charset "UTF-8";


body{
  font-family: 'Noto Sans KR','Noto Sans KR';
  font-family: 'Poppins', 'Noto Sans KR';
}


.outerRv{       
    width: 1050px;
    margin: auto;
    margin-top:50px; 
    color: black;
}

#dataTable th{
	background-color:#E7F1FF;
}

table>tfoot>tr>th{
	background-color:#E7F1FF;
}

#dataTable{
	 color: rgb(20, 18, 18);
	 font-size:12px; /* 저는 회원관리시 조회할게 많아서 12px인데 그게 아니라면 13px */
     text-align: left;
}

#dataTable>tbody>tr:hover{
	background-color : #EEEEEE;
	color: rgb(20, 18, 18);
	cursor : pointer;
}

 
 /*--------------------------------------------------------------
	memberManage
}
--------------------------------------------------------------*/      
 


   



 
 
 /*--------------------------------------------------------------
	memberManageDetailView
}
--------------------------------------------------------------*/      
 


