@charset "UTF-8";


body{
  font-family: 'Noto Sans KR','Noto Sans KR';
  font-family: 'Poppins', 'Noto Sans KR';
}


 /*--------------------------------------------------------------
	기본 템플릿 + 테이블
}
--------------------------------------------------------------*/     

#dataTable th{
	background-color:#E7F1FF;
}


#dataTable{
	 color: rgb(20, 18, 18);
	 font-size:12px; /* 저는 회원관리시 조회할게 많아서 12px인데 그게 아니라면 13px */
     text-align: left;
}

#dataTable>tbody>tr:hover{
	background-color : #EEEEEE;
	color: rgb(20, 18, 18);
	cursor : pointer;
}

.outerRv{       
    width: 1050px;
    margin: auto;
    margin-top:50px; 
    color: black;
}

table>tfoot>tr>th{
	background-color:#E7F1FF;
}














 /*--------------------------------------------------------------
	memberReview
}
--------------------------------------------------------------*/      
	 
	#selectDivMem {
			margin-left: 20px;
			width: 50%;
			float:left;
	}
	
	 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /*--------------------------------------------------------------
	memberReview
}
--------------------------------------------------------------*/      
 

	#selectDivDate{
		margin-left: 20px;
		width: 35%;
		float:left;
	}
	#selectExactDate{
		width: 40%;
		float:left;
	}
	

	#selectSelection form{
		float:right;
		margin-top: 10px;
		margin-right: 20px;
	}
	

	#selectDivDate button{
		display: inline;
		background-color:#E7F1FF;
		width: 100px;
		height: 40px;
		border: none;
		margin: 0;
		color:black;
	}

	#selectDivDate button:hover{
		background-color:#0D6EFD;
		color:white;
		cursor: pointer;
	}

	.dateInput {
		height: 38px;
		width: 110px;
		border: 1px solid #0D6EFD;
		border-radius: 5px;
	}

	#reviewChart{
		height:100px;
		width: 95%;
		box-shadow : 0px 0px 12px rgb(13, 109, 253, 0.4);
		border-radius: 10px;
	}

	#reviewChart div{
		margin-top: 20px;
	}

	#reviewChart div span {
		font-size: 11px;
	}

	#reviewChart div h4 {
		font-weight: 600;
		color:#0D6EFD;
	}

   



 
 
 /*--------------------------------------------------------------
	memberManageDetailView
}
--------------------------------------------------------------*/      
 


