@charset "UTF-8";

/* spaceManageList */
body{
    font-family: 'Noto Sans KR','Noto Sans KR';
    font-family: 'Poppins', 'Noto Sans KR';
}


.outerRv{       
    width: 1050px;
    margin: auto;
    margin-top:50px; 
    color: black;
}

#dataTable th{
    background-color:#E7F1FF;
}

table>tfoot>tr>th{
    background-color:#E7F1FF;
}

#dataTable{
    color: rgb(20, 18, 18);
    font-size:13px; 
    text-align: left;
}

#dataTable>tbody>tr:hover{
    background-color : #EEEEEE;
    color: rgb(20, 18, 18);
    cursor : pointer;
}


/* spaceUpdateManage.jsp */
.table.table-hover th{
    width:150px;
}